@using ReservationSite.Data
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Rezervasyon Yapmak İçin Kayıt Olmalısınız</h3>
        <br /><br />
    </div>
